<!--=== Header ===-->
<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            <a class="navbar-brand" href="#intro">
                <span>J</span>ason
                <span>W</span>eber
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="menu-container">
                <ul class="nav navbar-nav">
                    <li class="page-scroll home">
                        <a href="#body">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Services</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#bio">Bio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#gigs">Gigs</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#bookings">Bookings</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#albums">Albums</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#equipment">Equipment</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!--=== End Header ===-->

<app-intro></app-intro>
<app-about></app-about>
<app-bio></app-bio>
<app-gigs></app-gigs>
<app-bookings></app-bookings>
<app-albums></app-albums>
<app-equipment></app-equipment>
<app-contact></app-contact>

<!--
<a href="#body">
    <div id="topcontrol" style="position: fixed; bottom: 5px; right: 5px; opacity: 1; cursor: pointer;">
        <i class="fa fa-angle-up"></i>
    </div>
</a>
-->