<!-- Gigs Section -->
<section id="gigs">
    <div class="block-v1">
        <div>
            <div class="container">
                <div class="title-v1">
                    <h1>Gig Calendar</h1>
                    <div class="alert">
                        <p>Jason Weber performs an average of 300 shows per year with his own group as well as free-lancing
                            with a number of other artists &amp; bands.</p>
                    </div>
                </div>

                <table class="table table-striped">
                    <tbody>
                        <tr *ngFor="let c of calendarEvents" id={{c.id}}>
                            <td>
                                <h5>{{c.start.dateTime | date:'MMM d'}}</h5>
                            </td>
                            <td>
                                <h5>{{c.start.dateTime | date:'EEE'}}</h5>
                            </td>
                            <td>
                                <h5>{{c.start.dateTime | date:'shortTime'}}</h5>
                            </td>
                            <td>
                                <h5 style="font-weight:bold;">{{c.summary}}</h5>
                                <a href="https://www.google.com/maps/place/{{c.location}}">{{c.location}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button class="btn-u btn-brd btn-brd-hover btn-u-light" type="button" (click)="loadMore()">Load more events...</button>
            </div>
        </div>
    </div>
</section>
<!-- Gigs Section -->