<!-- Albums Section -->
<section id="albums">
    <div class="block-v1">
        <div class="container">

            <div class="title-v1">
                <h2>Albums</h2>
                <p>A busy artist performing live several hundred times every year, Jason Weber regularly gets into the studio
                    to write and record his own material.
                    <br/>Jason's albums are available for purchase on <a target="_blank" href="https://play.google.com/store/music/artist/Jason_Weber?id=Atqclh5obi56f42zte5n6huiuty">Google Play</a>, 
                    <a target="_blank" href="https://www.amazon.com/s/ref=ntt_dmus_ep_srch?ie=UTF8&field-keywords=Jason%20Weber&search-alias=digital-music&sort=relevancerank">Amazon Music</a>, 
                    <a target="_blank" href="http://itunes.apple.com/us/artist/jason-weber/id5105199">iTunes</a>, 
                    and <a target="_blank" href="https://store.cdbaby.com/artist/JasonWeber">CDBaby!</a></p>

                <div class="row">
                    <app-album-item *ngFor="let a of albumList" [album] = "a"></app-album-item>                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Albums Section -->