<!--  Bio Section -->
<section id="bio" class="bio-section section-first">
    <div class="block-v1 bg-grey">
        <div class="container">
            <div class="title-v1">
                <h1>Biography</h1>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="call-action-v1-in">
                        <p>A veteran of the Southern California music scene, Jason Weber has been playing the saxophone for
                            over 30 years. Originally hailing from the Chicago area, Jason has 8 CDs under his belt as well
                            as numerous guest appearances on other artists' recordings. One of the busiest musicians around,
                            Weber performs an average of 300 shows per year with his own group as well as free-lancing with
                            a number of other artists &amp; bands.</p>
                        <p>Jason began playing the saxophone at the age of nine (4th grade) &amp; continued playing through
                            High School. In 1994, he completed a Bachelor's Degree in Music Performance at the University
                            of Wisconsin where he was fortunate enough to have studied saxophone &amp; clarinet with Tim
                            Bell. </p>
                        <p>Before relocating to Southern California in 1997 to further pursue his music career, Weber led an
                            award-winning contemporary jazz group in Southeastern Wisconsin. Weber's first solo CD, '1st
                            AVENUE', achieved national recognition by making it to the final round in Musician Magazine's
                            1997 Best Unsigned Band Contest (top 25 of a nation-wide 3,000 entries).</p>
                        <p>Upon his arrival to the Southern California music scene, Weber quickly established himself as a gifted
                            performer capable of moving audiences not only with finesse, but also with his passion and intensity.
                            This versatility allows Weber to perform virtually any style of music in any setting including
                            all styles of jazz (Straight Ahead, Smooth, Latin), Rock, Funk, Pop &amp; RnB. Consequently,
                            Weber is in great demand as a sideman and for recording sessions when not performing with his
                            own group. Over the past several years, Weber has taken his talents to perform with several international
                            recording artists including: Gerald Albright, Everette Harp, Brian Auger, Alex Ligertwood, Robert
                            &amp; Dean Deleo (Stone Temple Pilots), Brandon Fields and Steve Ferrone among others.</p>
                        <p>Jason Weber performs exclusively on Drake Mouthpieces & D'Addario Woodwinds Select Jazz reeds. Jason
                            is a <a href="http://www.drakemouthpieces.com/Jason_Weber.html" target="_blank">Drake Mouthpieces</a>                            and <a href="http://www.ricoreeds.com/RicoArtistDetails.Page?ActiveID=2022&ArtistId=42026&tid=0"
                                target="_blank">D'Addario 
                                Performing Artist</a>.</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <img class="img-responsive" src="assets/img/jason/DSC_5968-001.jpg" alt="" title="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!--  Bio Section -->