<!-- Albums Section -->
<section id="albums">
    <div class="block-v1">
        <div class="container">

            <div class="title-v1">
                <h2>Albums</h2>
                <p>A busy artist performing live several hundred times every year, Jason Weber regularly gets into the studio
                    to write and record his own material.
                    <br/>Jason's albums are available for purchase on Google Play, Amazon Music, iTunes, and CDBaby!</p>
                
                <div class="row">
                    <div *ngFor="let a of albumList" class="col-md-3 col-sm-6" style="padding: 10px;">
                        <img src={{a.imgUrl}} width="200" height="200"><br>
                        <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-light">iTunes</button>
                        <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-light">CD Baby</button>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</section>