<!-- Equipment Section -->
<section id="equipment" class="bio-section">
    <div class="block-v1 bg-grey">
        <div class="container">
            
            <div class="title-v1">
                <h1>Equipment</h1>
                <p>Jason Weber strives for <strong>the best sound</strong> he can achieve.
                    <br/>Jason uses Antigua Pro One saxophones, Drake Mouthpieces, and D'Addario Reeds.</p>
            </div>

            <ul class="list-unstyled row portfolio-box-v1">

                <li class="col-xs-4">
                    <img class="img-responsive" src="assets/img/sponsors/proonefulllogo.jpg" alt="">
                    <div class="portfolio-box-v1-in">
                        <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="http://usa.antiguawinds.com/index.aspx" target="_blank">Learn More</a>
                    </div>
                </li>
                <li class="col-xs-4">
                    <img class="img-responsive" src="assets/img/sponsors/daddario.jpg" alt="">
                    <div class="portfolio-box-v1-in">
                        <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="http://www.woodwinds.daddario.com" target="_blank">Learn More</a>
                    </div>
                </li>
                <li class="col-xs-4">
                    <img class="img-responsive" src="assets/img/sponsors/drake.jpg" alt="">
                    <div class="portfolio-box-v1-in">
                        <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="http://www.drakemouthpieces.com/" target="_blank">Learn More</a>
                    </div>
                </li>
            </ul>

            <ul class="list-unstyled row portfolio-box-v1">
                <li class="col-sm-12">
                    <img class="img-responsive" src="assets/img/sponsors/AntiguaJasonWeber_DB_large-002.jpg" alt="">
                    <div class="portfolio-box-v1-in">
                        <h3>Antigua Pro One Saxophones</h3>
                        <p>San Antonio, TX</p>
                        <a class="btn-u btn-u-sm btn-brd btn-brd-hover btn-u-light" href="http://usa.antiguawinds.com/index.aspx" target="_blank">Learn More</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</section>
<!-- Equipment Section -->