<!--  About Section -->
<section id="about" class="about-section section-first">
    <div class="block-v1">
        <div class="title-v1">
            <h1>Lessons and Services</h1>
        </div>
        <div class="container">
            <div class="row  content-boxes-v3">
                <div class="col-md-6 md-margin-bottom-30">
                    <i class="icon-custom rounded-x icon-bg-dark fa fa-music"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">Lessons</h2>
                        <p>From beginners to advanced students, Jason is available for private lessons.</p>
                        <ul>
                            <li>B.A. in Music Performance</li>
                            <li>Studio in Lake Elsinore, CA</li>
                            <li>Beginning to advanced students</li>
                            <li>Private instruction on all saxophones</li>
                            <li>Instruction in music / jazz theory</li>
                            <li>Beginning to advanced instruction in various improvisational styles</li>
                            <li>Improve technique, tone, reading & breathing</li>
                            <li>Credit cards accepted</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <i class="icon-custom rounded-x icon-bg-dark fa fa-music"></i>
                    <div class="content-boxes-in-v3">
                        <h2 class="heading-sm">Recording Services</h2>
                        <p>Well versed in recording, Jason is available for your recording needs.</p>
                        <ul>
                            <li>Over 30 years playing</li>
                            <li>Session work on all saxophones (tenor, alto, soprano & baritone)</li>
                            <li>Experienced in most musical styles (jazz, funk, rock, blues, etc.)</li>
                            <li>Currently using Sonar X1 Producer, but fully compatible with any DAW</li>
                            <li>Lead sheet production</li>
                            <li>Rates available upon request</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-quote parallaxBg">
        <div class="container">
            <div class="parallax-quote-in">
                <p>Antigua Pro One... great tone, intonation, ergonomics, and durablity. <span class="color-green"><a href="http://usa.antiguawinds.com/artists_detail.aspx?id=jason_weber">#AntiguaProud</a></span></p>
                <small>- Jason Weber -</small>
            </div>
        </div>
    </div>

</section>
<!--  About Section -->