<!-- Albums Section -->
<section id="albums">
    <div class="block-v1">
        <div class="container">

            <div class="title-v1">
                <h2>Albums</h2>
                <p>A busy artist performing live several hundred times every year, Jason Weber regularly gets into the studio
                    to write and record his own material.
                    <br/>Jason's albums are available for purchase on Google Play, Amazon Music, iTunes, and CDBaby!</p>

                <div class="row">
                    <app-album-item *ngFor="let a of albumList" [album] = "a"></app-album-item>                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Albums Section -->